.alert-box {
  margin-top: 1em;
}

.actions input {
  @extend .button;
}

.button-down {
  margin-top: 1.5vh;
}

.button-down-3 {
  margin-top: 4.5vh;
}

.button-down-4 {
  margin-top: 6vh;
}

.right-margin {
  margin-right: 1.5em;
}
